                <a href="https://facebook.com/ESOAstronomy" title="ESO on Facebook" target="_blank" rel="noopener noreferrer">
                    <img class="desktop-top-sm-element" src="https://www.eso.org/public/archives/djp/elt-assets/img/social-media/icon_topbar_mobile_1.png" alt="ESO on Facebook">
                </a>
                <a href="https://twitter.com/#!/ESO" title="ESO on Twitter" target="_blank" rel="noopener noreferrer">
                    <img class="desktop-top-sm-element" src="https://www.eso.org/public/archives/djp/elt-assets/img/social-media/icon_topbar_mobile_2.png" alt="ESO on witter">
                </a>
                <a href="https://www.instagram.com/esoastronomy/" title="ESO on Instagram" target="_blank" rel="noopener noreferrer">
                    <img class="desktop-top-sm-element" src="https://www.eso.org/public/archives/djp/elt-assets/img/social-media/icon_topbar_mobile_3.png" alt="ESO on Instagram">
                </a>
                <a href="https://www.linkedin.com/company/european-southern-observatory" title="ESO on LinkedIn" target="_blank" rel="noopener noreferrer">
                    <img class="desktop-top-sm-element" src="https://www.eso.org/public/archives/djp/elt-assets/img/social-media/icon_topbar_mobile_4.png" alt="ESO on LinkedIn">
                </a>
                <a href="https://www.youtube.com/channel/UCIhYoC2VIAJqCkoIWNHBQ3Q" title="ESO on YouTube" target="_blank" rel="noopener noreferrer">
                    <img class="desktop-top-sm-element" src="https://www.eso.org/public/archives/djp/elt-assets/img/social-media/icon_topbar_mobile_5.png" alt="ESO on YouTube">
                </a>
